.container {
    margin: 32px auto;
    width: max-content;
}

.button {
    border: 1px solid var(--color-gray-light);
    background-color: var(--color-white);
    border-radius: 180px;
    padding: 16px 0;
    width: 145px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: var(--color-main);
}

.button:hover {
    border: 1px solid var(--color-button-hover);
}