.filters {
    width: 360px;
    font-weight: 400;
    font-size: 16px;
}

.filters label {
    color: var(--color-gray);
}

.filters > form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.locationWraper {
    position: relative;
    margin-top: 8px;
}

.locationIcon {
    height: 2em;
    width: 2em;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    fill: var(--color-main);
}

.locationInput {
    border: none;
    border-radius: 12px;
    padding: 18px 20px 18px 52px;
    width: 100%;
    height: 56px;
    background: var(--color-inputs);
    color: var(--color-main);
}

.locationInput:hover,
.locationInput:focus,
.locationInput:focus-within,
.locationInput:focus-visible {
    outline: none;
}

.locationInput::placeholder {
    color: var(--color-gray)
}

.filter h3 {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-main);
    line-height: 1.2;
    margin-bottom: 24px;
}

.filter h3::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--color-gray-light);
    position: absolute;
    bottom: -12px;
    left: 0;
}

.filter ul {
    display: flex;
    gap: 12px;
    row-gap: 8px;
    flex-wrap: wrap;
    font-weight: 500;
    color: var(--color-main);
    text-align: center;
}

.fltrInput {
    position: absolute;
    opacity: 0;
}

.fltrInput:checked + label {
    border-color: var(--color-button);
}

.fltrLabel {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 96px;
    border: 1px solid var(--color-gray-light);
    border-radius: 12px;
    text-transform: capitalize;
}

.fltrLabel svg {
    width: 32px;
    height: 32px;
}