.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  position: relative;
  background-color: #f7f7f7;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.logoContainer {
  margin-left: 64px;
  position: absolute;
  left: 0;
}

.wrapper {
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.3s;
}

.link:hover,
.link:focus {
  color: var(--accent);
}

.activeLink {
  color: var(--accent);
}
